

<body>


    <div class="container bg-lighter my-5 pt-3">
        <div class="row">
            <div class="col-sm-12 text-center my-4 text-light fs-5 ">
                <!-- Content goes here -->
                <h1 class="fw-bolder text-success">{{alert}} {{message}}{{text}}</h1>
            </div>
        </div>
    </div>


</body>

{{!-- <div class="container-lg my-5">

<div class="container-sm text-center bg-success w-50 h-75 fs- text-light fw-bold">
<h1></h1>

</div>
</div> --}}