<head>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    {{!-- ===============================================carousell================================== --}}

    <div id = "abc" > </div>

    <div id="carouselExampleSlidesOnly" class="carousel slide  mx-auto  " data-bs-ride="carousel"
        data-bs-interval="3000">
        <div class="carousel-inner my-2">
            <div class="carousel-item active">


                <div class="image-outer-div carousel-image">
                    <img src="/images/pexels-kampus-production-5940841.jpg" class="d-block w-100 " alt="image">
                    <div class="carousel-caption d-none d-md-block carousel-text ">
                        <h5 class="fs-1 fw-bold">Grow Together</h5>
                        <p class="fs-3 fw-bold">Your success is our success</p>
                    </div>
                    <a href="#" class="btn btn-danger position-absolute top-0 end-0 mt-3 me-2 p-1 btn-lg fs-3">Contact
                        Us</a>
                </div>


            </div>
            <div class="carousel-item">

                <div class="image-outer-div carousel-image">
                    <img src="/images/pexels-jonathan-borba-3285203 (1).jpg" class="d-block w-100" alt="image">
                    <div class="carousel-caption d-none d-md-block carousel-text">
                        <h5 class="fs-1 fw-bold ">Expert Tutors</h5>
                        <p class="fs-3  fw-bold">Learn from the leading experts</p>
                    </div>
                    <a href="#" class="btn btn-danger position-absolute top-0 end-0 mt-3 me-2 p-1 btn-lg fs-3">Contact
                        Us</a>
                </div>
            </div>

            <div class="carousel-item">

                <div class="image-outer-div carousel-image">
                    <img src="/images/IH011.jpg" class="d-block w-100" alt="image">
                    <div class="carousel-caption d-none d-md-block carousel-text">
                        <h5 class="fs-1 fw-bold"> Classrooms</h5>
                        <p class="fs-3 fw-bold">Fully equipped classrooms</p>
                    </div>
                    <a href="/main.handlebars/#contact" class="btn btn-danger position-absolute top-0 end-0 mt-3 me-2 p-1 btn-lg fs-3">Contact
                        Us</a>
                </div>
            </div>
        </div>
    </div>



    {{!-- =================================happy students text box =============--}}

    <div class="happy-students-textbox row container-fluid">
        <div class="col-12 my-5 ">
            <div class="responsive-content text-center">
                <h2 class="fs-1 ">Happy Students</h2>
                <p class="fs-4">More than 1,000 students have graduated from our institutuion and have found their dream
                    jobs with the help of our guidance.</p>


            </div>
        </div>
    </div>

    {{!--============================================ Happy students cards =====================================--}}


    <div class="container">
        <div class="row  my-3"> <!--gy and my for spacing between cards-->

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="/images/happy-man-thumbs-up-sign-full-length-portrait-white-background-showing-31416464.webp"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alex</h5>
                        <p class="card-text">I am so happy as I could secure a job in the first month after graduating
                            from this institute.</p>
                        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="/images/what-makes-people-happy.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jamie</h5>
                        <p class="card-text">I really like how there's different courses that you can learn and take
                            part in weekly contests.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="/images/happy-lady.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Grace</h5>
                        <p class="card-text">Learning coding is like learning a new language. If you get the right
                            teacher,you can learn it very easily.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="/images/happy-man-11790398.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sam</h5>
                        <p class="card-text">I really like the attitude of the teachers and also the career guiding
                            seminars.</p>

                    </div>
                </div>
            </div>

        </div>
    </div>

    {{!--========================================== Brands slider=================================== --}}

    <div class="row brands-container container-fluid">
        <div class="col-12 ">
            <div class="responsive-content text-center">

                <h2 class="fs-1 ">Our Placement Partners</h2>

            </div>
        </div>
    </div>


    <div class="slider-container">
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="/images/slider-images/2022-11-01T08_29_56.515Z-AXA-Logo-1985-1994.png" alt=""
                        class="slider-images">
                </div>
                <div class="slide">
                    <img src="/images/slider-images/2022-11-01T08_48_20.335Z-ibm.png" alt="" class="slider-images">
                </div>
                <div class="slide">
                    <img src="/images/slider-images/uniqlo-logo-vector-11573942521rp32cmu2vg.png" alt=""
                        class="slider-images">
                </div>
                <div class="slide">
                    <img src="/images/slider-images/2022-11-09T08_55_46.569Z-Adidas_logo.png" alt=""
                        class="slider-images">
                </div>
                <div class="slide">
                    <img src="/images/slider-images/2022-11-09T09_12_06.702Z-Manulife_logo.png" alt=""
                        class="slider-images">
                </div>
                <div class="slide">
                    <img src="/images/slider-images/2022-11-09T09_13_07.707Z-Morgan_Stanley_Logo_1.svg.png" alt=""
                        class="slider-images">
                </div>
                <div class="slide">
                    <img src="/images/slider-images/2022-11-10T03_22_35.739Z-HSBC_Presented202.png" alt=""
                        class="slider-images">
                </div>
                <div class="slide">
                    <img src="/images/slider-images/2022-11-10T07_09_16.796Z-Klook.png" alt="" class="slider-images">
                </div>
                <div class="slide">
                    <img src="/images/slider-images/2022-11-10T07_12_25.375Z-Lalamove-Logo.png" alt=""
                        class="slider-images">
                </div>

                <div class="slide">
                    <img src="/images/slider-images/2022-11-09T09_12_06.702Z-Manulife_logo.png" alt=""
                        class="slider-images">
                </div>
                <div class="slide">
                    <img src="/images/slider-images/th.jpg" alt="" class="slider-images">
                </div>
                <div class="slide">
                    <img src="/images/slider-images/2022-12-09T00_39_29.741Z-2022-11-09T08_58_22.894Z-Bank_Of_China_logo (1).png"
                        alt="" class="slider-images">
                </div>
            </div>

        </div>
    </div>


</body>