
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CourseConnect</title>


    <link rel="stylesheet" href="teachers.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
    crossorigin="anonymous">

  </head>

  <body>


<!-- nav bar -->
<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">CourseConnect</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mg-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </li>
    </ul>
      </div>
    </div>
</nav>

        








<!-- hero section -->
<img src="/public/images/main2.jpg" class="img-fluid" alt="img1" >
<div> </div>

 











<!-- Cards -->

<!-- cards group 1 -->

<div class="card-group" style="padding: 3%; grid-gap: 3%">
    <div class="card">
      <img src="/public/images/webdev.jpg" class="card-img-top" style="min-height: 32%" alt="webdev">
      <div class="card-body">
        <h5 class="card-title">Web Development</h5>
        <p class="card-text" style="min-height: 300px">Web development courses teach students how to build and maintain websites using various programming languages, tools, and technologies.</p>
        <button class="btn btn-primary btn-sm edit-button" style="float: top; min-width: 100%">Edit Course</button>
        <button class="btn btn-danger btn-sm delete-button"style="float: bottom:; min-width: 100%">Delete Course</button>
      </div>
    </div>
    <div class="card">
      <img src="/public/images/cyber.jpg" class="card-img-top" style="min-height: 32%" alt="cybers">
      <div class="card-body">
        <h5 class="card-title">Cyber Security</h5>
        <p class="card-text" style="min-height: 300px">Cyber security courses teach students how to protect computer systems, networks, and data from unauthorized access, use, or theft.</p>
        <button class="btn btn-primary btn-sm edit-button" style="float: top; min-width: 100%">Edit Course</button>
        <button class="btn btn-danger btn-sm delete-button"style="float: bottom:; min-width: 100%">Delete Course</button>
      </div>
    </div>
    <div class="card">
      <img src="/public/images/datascience.jpg" class="card-img-top" style="min-height: 32%"  alt="datas">
      <div class="card-body">
        <h5 class="card-title">Data Science</h5>
        <p class="card-text" style="min-height: 300px">Data science courses teach students how to extract insights and knowledge from large datasets using various statistical and machine learning techniques.</p>
        <button class="btn btn-primary btn-sm edit-button" style="float: top; min-width: 100%">Edit Course</button>
        <button class="btn btn-danger btn-sm delete-button"style="float: bottom:; min-width: 100%">Delete Course</button>
    </div>
        <small class="text-body-secondary"></small>
      </div>
    </div>
  </div>

  <!-- cards group 2 -->
  <div class="card-group" style="padding: 3%; grid-gap: 3%">
    <div class="card">
      <img src="/public/images/blockchain.jpg" class="card-img-top" style="min-height: 32%" alt="blockc">
      <div class="card-body">
        <h5 class="card-title">Blockchain</h5>
        <p class="card-text" style="min-height: 300px">Blockchain courses teach students how to design, develop, and deploy blockchain-based applications and systems. Students learn about blockchain architecture, smart contracts, distributed ledger technology, and cryptocurrencies. </p>
        <button class="btn btn-primary btn-sm edit-button" style="float: top; min-width: 100%">Edit Course</button>
        <button class="btn btn-danger btn-sm delete-button"style="float: bottom:; min-width: 100%">Delete Course</button>
      </div>
    </div>
    <div class="card">
      <img src="/public/images/ai.jpg" class="card-img-top" style="min-height: 32%" alt="ai">
      <div class="card-body">
        <h5 class="card-title">Artificial Intelligence</h5>
        <p class="card-text" style="min-height: 300px">Artificial intelligence (AI) courses teach students how to design and develop intelligent systems that can perform tasks that typically require human intelligence, such as visual perception, speech recognition, and decision-making.</p>
        <button class="btn btn-primary btn-sm edit-button" style="float: top; min-width: 100%">Edit Course</button>
        <button class="btn btn-danger btn-sm delete-button"style="float: bottom:; min-width: 100%">Delete Course</button>
      </div>
    </div>
    <div class="card">
      <img src="/public/images/appdev.jpg" class="card-img-top" style="min-height: 32%"  alt="appdev">
      <div class="card-body">
        <h5 class="card-title">App Development</h5>
        <p class="card-text" style="min-height: 300px">App development courses teach students how to design, develop, and deploy mobile and web applications for various platforms, such as iOS, Android, and React Native. Students learn about user experience (UX) design, user interface (UI) development, mobile app development, and testing.</p>
        <button class="btn btn-primary btn-sm edit-button" style="float: top; min-width: 100%">Edit Course</button>
        <button class="btn btn-danger btn-sm delete-button"style="float: bottom:; min-width: 100%">Delete Course</button>
    </div>
        <small class="text-body-secondary"></small>
      </div>
    </div>
  </div>



<!-- bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

 
</body>
