
/* =====================css for home page=================================== */

.image-outer-div{
    position: relative;
}

.happy-students-textbox{
    /* don't change it */
   margin-left: 0.5px;
   margin-top: 40px;
   margin-bottom: 60px;
    background-color: rgb(250, 194, 51);
}

.carousel-text{
    color: darkorange;
}

/* .carousel-container{
    background-color: rgb(255, 247, 205);
} */

/* ===============================slider======================= */

.brands-container{
    margin-top: 80px;
    margin-bottom: 30px;
}

.slider-images{
    height: 60px;
    margin-top: 20px;
}
.slider-container{
    border: 1px solid;
    margin: 10px 50px 50px 50px;
}



@keyframes scroll{
    0%{
        transform:  translate(0);
    }
    100%{
        transform: translate(calc(-250px* 7));
    }
}
.slider{
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track{
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px *14);
}

.slider .slide{
    height: 100px;
    width: 250px;
}



/* .contact-container{
    margin-left: 1px;
    background-color: rgb(250, 194, 51);
    height: 340px;

} */